# Go
/bin/
*.test
*.out

# Build artifacts
/dist/
*.plugs
!examples/wails-ip-app/plugins/
!examples/wails-ip-app/plugins/*.plugs

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
