# Go
/bin/
*.test
*.out

# Build artifacts
/dist/
/build/
examples/wails2/build/
examples/wails3/build/
*.plugs
!examples/wails2/plugins/
!examples/wails2/plugins/*.plugs
!examples/wails3/plugins/
!examples/wails3/plugins/*.plugs

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

wailsjs/
